<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>this is home page</h1>
    <!-- create dynamic html page with the help EJS -->
     <h2><%= 1+3 %></h2>
     <!-- <h3> <%= "apnacollege".toUpperCase() %></h3> -->
     <h3> <%= ["hello","bonjour","namaste"][0] %></h3> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, totam, enim qui in deserunt similique ipsa animi quaerat eius alias repudiandae molestias laboriosam aliquid vero. Voluptas sed provident eos sequi.
    Earum nulla quidem amet delectus debitis sed quas quaerat. Sunt voluptatibus cum quasi tempore libero, ab fuga modi, ut veritatis repellendus, voluptatum nam ullam. Eius assumenda eligendi fugit harum natus!
    Quo repellendus neque eaque quaerat maiores sint blanditiis rem aliquid incidunt repudiandae nam accusamus ea omnis, laborum harum sit consequatur unde nemo architecto, officiis vero eum praesentium facilis. Voluptas, quas?
    Voluptatum recusandae quasi quas vel libero nisi praesentium excepturi est totam eligendi fuga accusamus sed magni possimus, mollitia pariatur neque! Facere nemo neque suscipit voluptatibus non vitae ullam ipsum cupiditate?
    Quo voluptatibus tenetur cumque dolores explicabo, itaque saepe numquam sunt! Autem fugit dolorem neque ex inventore perspiciatis at, architecto, quis et laborum tempora rerum sed suscipit ratione delectus omnis adipisci.</p>
</body>
</html>