<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new Chat</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <form method="POST" action="/chats" >
        <div class="form">
        <h3>Write new chat...</h3>
        <input class="inp" placeholder="who are you" name="from">
        <textarea class="inp" name="msg">Write your message here..</textarea>
        <input class="inp" placeholder="add reciver" name="to">
        <button>Create Chat</button>
        </div>
    </form>
</body>
</html>